#sidebar{
    background-color: rgb(180, 231, 231);
    width: 100%;
    height: 100vh;
    margin-top: -20px;
    
}

h4{
    font-family:  sans-serif;
    color: gray;
}

#propertyh4{
    color: rgb(64, 133, 133);
}

h1{
    text-align: center;
    padding-top: 50px;
}
ul{
    list-style: none;
}